
<meta charset="UTF-8">
<title>Circumference of Sun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body { padding-top:50px; }
  
</style>
<div class="container">
  <h1>The Circumference of Sun</h1>
  <p style="font-weight:bold">Formula for circumference is Pi x diameter.</p>
  <p>The diameter for the Sun is 1392530 Kilometers.</p>
  <p>Hence, the circumference of the Sun is <%= sunCircumference %></p>
</div>